body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

#edyoda-logo {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 2;
}
#edyoda-logo > img {
  width: 120px;
}
#space {
  margin-top: 75px;
}

#topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px #ccc;
  padding: 20px 140px;
  position: fixed;
  top: 0;
  right: 0;
  box-sizing: border-box;
  width: 100%;
  height: 11%;
  z-index: 2;
  background-color: #fff;
}
#topbar a {
  text-decoration: none;
  color: #000;
}

#mid-div {
  display: flex;
  flex-direction: column;
}
#div-hidden {
  padding: 20px;
  position: relative;
  top: 50px;
  right: 30px;
  width: 100%;
  height: 50vh;
  display: none;
}
.dropdown {
  display: none;
  position: relative;
  padding: 30px;
  background-color: #fff;
}
#propic-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
#propic-wrapper > h2 {
  margin-top: 15px;
  margin-left: 15px;
  text-decoration: none;

  font-size: 18px;
  font-weight: 500;
}
.search-action-res {
  width: 100%;
  max-width: 260px;
  display: flex;
  border: none;
  padding: 6px 10px;
  border-radius: 20px;
  background-color: #eee;
}

.search-action-res > i {
  color: rgb(143, 136, 136);
}

.search-box-res {
  outline: unset;
  border: none;
  width: 100%;
  margin-left: 10px;
  color: rgb(143, 136, 136);
  background-color: #eee;
}

#mid-div > a {
  text-decoration: none;
  color: #000;
  margin-top: 20px;
}
#mid-div > a:hover {
  color: rgb(143, 136, 136);
}

#left-menu {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
#left-menu > nav {
  display: flex;
}
#left-menu a {
  text-decoration: none;
  color: #000;
}
.menu-item {
  text-decoration: none;
  color: #000;
  margin: 0px 17px;
  text-transform: uppercase;
}
#left-menu a:hover {
  color: rgb(143, 136, 136);
}
#logo {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 300;
  margin-right: 15px;
}
#logo span {
  font-weight: 900;
}

.search-action {
  width: 100%;
  max-width: 350px;
  position: relative;
  border: none;
  padding: 6px 10px;
  border-radius: 20px;
  background-color: #eee;
  margin-right: 30px;
  margin-left: 25px;
}

.search-action > i {
  color: rgb(143, 136, 136);
}

.search-box {
  outline: unset;
  border: none;
  width: 300px;
  margin-left: 10px;
  color: rgb(143, 136, 136);
  background-color: #eee;
}

#right-menu {
  display: inline-flex;
  justify-content: end;
  align-items: center;
}
.pro-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#cart-wrapper {
  position: relative;
  margin-right: 32px;
}
#cart-count {
  width: 18px;
  height: 18px;
  font-size: 12px;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-weight: 600;
  background-color: #009688;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  right: -12px;
}
#cart-wrapper > a {
  text-decoration: none;
  color: black;
}
#cart-wrapper i {
  font-size: 18px;
  cursor: pointer;
}
#cart-wrapper i:hover {
  color: rgb(143, 136, 136);
}

section {
  display: block;
  padding: 20px 130px;
}

.bigger {
  transform: scale(1.1, 1.1);
}

#hamburger-icon-wrapper {
  text-decoration: none;
  color: #000;
  display: none;
  position: absolute;
  right: 0;
}
#hamburger-icon-wrapper:hover {
  color: rgb(143, 136, 136);
}
#close-icon-wrapper {
  text-decoration: none;
  color: #000;
  display: none;
  position: absolute;
  right: 20px;
  top: 40px;
}
#close-icon-wrapper:hover {
  color: rgb(143, 136, 136);
}

div {
  display: block;
}

footer {
  width: 100%;
  background-color: #1c1b1e;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 4% 20%;
}
.footer-heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: white;
  opacity: 0.9;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.footer-link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  opacity: 0.5;
  padding-bottom: 10px;
}
.footer-link:hover {
  text-decoration: underline;
}

#footer-content {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}
#footer-content:last-of-type {
  margin-right: 0;
}
#footer-content:first-of-type {
  margin-left: 0;
}
p {
  margin: 0;
}
#checkout {
  width: 100%;
  padding-top: 90px;
  padding-right: 8%;
  padding-left: 8%;
  padding-bottom: 18%;
  box-sizing: border-box;
}
#main-checkout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
.main-page-heading {
  font-size: 28px;
  opacity: 0.9;
}
.main-page-heading > h2 {
  color: #009688;
  text-align: center;
}

#checkout-left {
  width: 50%;
}
#checkout-right {
  width: 50%;
}
.item-card {
  box-shadow: 0 2px 5px #ccc;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 2%;
  border-radius: 8px;
  margin-bottom: 20px;
}
.item-img {
  width: 20%;
  border-radius: 6px;
}
.item-img > img {
  width: 90px;
  border-radius: 6px;
}
.item-desc {
  width: 80%;
  margin-left: 20px;
}
#amount-card {
  box-shadow: 0 2px 5px #ccc;
  background-color: #fff;
  padding: 2%;
  padding-bottom: 6%;
  border-radius: 8px;
  margin-top: 50px;
  margin-left: 10%;
}
#amount-card > p {
  margin-bottom: 52px;
}
.checkout-heading {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 0;
}
.checkout-para {
  font-size: 17px;
}
.checkout-para > span {
  font-weight: 600;
  font-size: 18px;
}
.checkout-heading-item-name {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
}
#cart-btn {
  border: none;
  background-color: #009688;
  padding: 15px 25px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 8px;
}


@media screen and (max-width: 480px) {
  #main-checkout{
    display: block;
  }
  #checkout-left {
    width: 100%;
    margin-bottom: 15%;
  }
  #checkout-right {
    width: 100%;
  }
  #amount-card {
    margin-left: 0;
    text-align: center;
  }
  .item-card{
    display: block;
  }
  .item-img{
    width: 100%;
    
  }
  .item-img>img{
    width: 100%;
  }
  .item-desc{
    width: 100%;
  }
  
  footer{
    display: block;
    text-align: center;
  }
  section {
    padding: 20px 50px;
  }

  #left-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 100%;
    height: 40vh;
  }
  #left-menu > nav {
    display: flex;
    flex-direction: column;
  }
  #right-menu {
    display: flex;
    flex-direction: column;
  }
  #hamburger-icon-wrapper {
    display: flex;
  }
  #topbar {
    padding: 20px 50px;
  }
  .dropdown {
    display: flex;
    position: relative;
    right: 10px;
  }
}

@media screen and (max-width: 600px) {
  #main-checkout{
    display: block;
  }
  #checkout-left {
    width: 100%;
    margin-bottom: 15%;
  }
  #checkout-right {
    width: 100%;
  }
  #amount-card {
    margin-left: 0;
    text-align: center;
  }
 
  footer{
    display: block;
    text-align: center;
  }
  section {
    padding: 20px 50px;
  }

  #left-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 100%;
    height: 40vh;
  }
  #left-menu > nav {
    display: flex;
    flex-direction: column;
  }
  #right-menu {
    display: flex;
    flex-direction: column;
  }
  #hamburger-icon-wrapper {
    display: flex;
  }
  #topbar {
    padding: 20px 50px;
  }
  .dropdown {
    display: flex;
    position: relative;
    right: 10px;
  }
}

@media screen and (max-width: 768px) {
  #main-checkout{
    display: block;
  }
  #checkout-left {
    width: 100%;
    margin-bottom: 15%;
  }
  #checkout-right {
    width: 100%;
  }
  #amount-card {
    margin-left: 0;
    text-align: center;
  }
  footer{
    display: block;
    text-align: center;
  }
  section {
    padding: 20px 50px;
  }

  #left-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 100%;
    height: 40vh;
  }
  #left-menu > nav {
    display: flex;
    flex-direction: column;
  }
  #right-menu {
    display: flex;
    flex-direction: column;
  }
  #hamburger-icon-wrapper {
    display: flex;
  }
  #topbar {
    padding: 20px 50px;
  }
  .dropdown {
    display: flex;
    position: relative;
    right: 10px;
  }
}

@media screen and (max-width: 992px) {
  #main-checkout{
    display: block;
  }
  #checkout-left {
    width: 100%;
    margin-bottom: 15%;
  }
  #checkout-right {
    width: 100%;
  }
  #amount-card {
    margin-left: 0;
    text-align: center;
  }
  footer{
    display: block;
    text-align: center;
  }
  section {
    padding: 20px 50px;
  }

  #left-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 100%;
    height: 40vh;
  }
  #left-menu > nav {
    display: flex;
    flex-direction: column;
  }
  #right-menu {
    display: flex;
    flex-direction: column;
  }
  #hamburger-icon-wrapper {
    display: flex;
  }
  #topbar {
    padding: 20px 50px;
  }
  .dropdown {
    display: flex;
    position: relative;
    right: 10px;
  }
}

@media screen and (max-width: 1110px) {
  #main-checkout{
    display: block;
  }
  #checkout-left {
    width: 100%;
    margin-bottom: 15%;
  }
  #checkout-right {
    width: 100%;
  }
  #amount-card {
    margin-left: 0;
    text-align: center;
  }
  footer{
    display: block;
    text-align: center;
  }
  section {
    padding: 20px 50px;
  }

  #left-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 100%;
    height: 40vh;
  }
  #left-menu > nav {
    display: flex;
    flex-direction: column;
  }
  #right-menu {
    display: flex;
    flex-direction: column;
  }
  #hamburger-icon-wrapper {
    display: flex;
  }
  #topbar {
    padding: 20px 50px;
  }
  .dropdown {
    display: flex;
    position: relative;
    right: 10px;
  }
}
